@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --urlimage: '';
}

#main-menu-title::before {
    display: block;
    position: absolute;
    background-image: var(--urlimage);
    content: '';
    background-size: contain;
    width: 80px;
    height: 148px;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    margin: auto;
    transform: translate(-1.5rem, 0rem)
}


@font-face {
    font-family: 'Montserrat';
    src: url('./font/Montserrat-Regular.woff2') format('woff2'),
        url('./font/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./font/Montserrat-ExtraBold.woff2') format('woff2'),
        url('./font/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./font/Montserrat-Bold.woff2') format('woff2'),
        url('./font/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}